* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: consolas;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #333;
}

.container {
  position: relative;
  min-width: 300px;
  min-height: 400px;
  background: #333;
  padding: 40px 30px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 20px 20px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.5), inset 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 20px 20px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.5), inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

span {
  color: white;
}

.calculator {
  position: relative;
  display: -ms-grid;
  display: grid;
}
.calculator .value {
  position: relative;
  -ms-grid-column-span: 4;
  grid-column: span 4;
  height: 100px;
  width: 100%;
  border: none;
  outline: none;
  background: rgb(224, 241, 162);
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 2rem;
}
.calculator span {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 80px;
  height: 80px;
  margin: 8px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#3f3f3f));
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  -webkit-box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
}
.calculator span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#2d2d2d), to(#4d4d4d));
  background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
}
.calculator span i {
  position: relative;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}